body {
    background-color: black;
    flex-direction: column;
    overflow: hidden;
}

.digit {
    display: flex;
}

.digit img {
    width: calc(100vw / 8);
    height: 50vh;
    object-fit: contain;
}

.date {
    opacity: 0.5;
}
